<div class="title">
  <h2><img src="../../img/logo.png" style="height: 60px" />电网智能监控系统 | 上海东君电气有限公司</h2>
</div>
<div class="banner">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="offset8">
        <div id="login_form" class="hero-unit ">
          <h2 class="text-center">登录</h2>
          <div class="control-group">
            <!-- <label class="" for="inputEmail">账号:</label> -->
            <input id="inputEmail" type="text" placeholder="请输入账号" />
          </div>
          <div class="control-group">
            <!-- <label class="control-label" for="inputPassword">密码:</label> -->
            <input id="inputPassword" type="password" placeholder="请输入密码" />
            <span id="error_msg" class="help-block text-center"></span>
          </div>
          <div class="control-group">
            <div class="controls">
              <button id="login_form_btn" class="btn btn-primary">登录</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>&copy; Company 2013</p>
</footer>
<script></script>
