<div class="container-fluid">
  <div class="hero-unit">
      <div class="row-fluid">
          <div class="span5">
              <h2>
                  <img src="../../img/logo.png" style="height: 65px" />电网智能监控系统
                  <span class="label label-default">1.04</span>
              </h2>
          </div>
          <div class="span6 MENU">
              <a href="index" class="btn banner-btn btn-primary"><i class="fa fa-map-marker"></i>监控</a>
              <a href="low_voltage_switch_manager" class="btn banner-btn btn-primary"><i class="fa fa-cog"></i>管理</a>
              <a href="current_voltage_chart" class="btn banner-btn btn-primary"><i class="fa fa-area-chart"></i>报表</a>
              <a href="low_voltage_hitch_event_manager" class="btn banner-btn btn-primary"><i class="fa fa-user"></i>事件</a>
          </div>
          <div class="span1 log_out">
              <button class="btn btn-danger" id="log_out">退出</button>
          </div>
      </div>
  </div>
</div>
<script>
</script>
